.btn-verde {
  color: #fff;
  background-color: #4e9c81;
  border-color: #4e9c81;
}
.btn-verde:focus,
.btn-verde.focus {
  color: #fff;
  background-color: #4e9c81;
  border-color: #4e9c81;
}
.btn-verde:hover {
  color: #fff;
  background-color: #4e9c81;
  border-color: #4e9c81;
}
.btn-verde:active,
.btn-verde.active,
.open > .dropdown-toggle.btn-verde {
  color: #fff;
  background-color: #4e9c81;
  border-color: #4e9c81;
}
.btn-verde:active:hover,
.btn-verde.active:hover,
.open > .dropdown-toggle.btn-verde:hover,
.btn-verde:active:focus,
.btn-verde.active:focus,
.open > .dropdown-toggle.btn-verde:focus,
.btn-verde:active.focus,
.btn-verde.active.focus,
.open > .dropdown-toggle.btn-verde.focus {
  color: #fff;
  background-color: #4e9c81;
  border-color: #4e9c81;
}
.btn-verde:active,
.btn-verde.active,
.open > .dropdown-toggle.btn-verde {
  background-image: none;
}
.btn-verde.disabled:hover,
.btn-verde[disabled]:hover,
fieldset[disabled] .btn-verde:hover,
.btn-verde.disabled:focus,
.btn-verde[disabled]:focus,
fieldset[disabled] .btn-verde:focus,
.btn-verde.disabled.focus,
.btn-verde[disabled].focus,
fieldset[disabled] .btn-verde.focus {
  background-color: #4e9c81;
  border-color: #4e9c81;
}
.btn-verde .badge {
  color: #4e9c81;
  background-color: #fff;
}

.btn-relatorio {
  color: #fff;
  background-color: #4e9c81;
  border-color: #4e9c81;
}
.btn-relatorio:focus,
.btn-relatorio.focus {
  color: #fff;
  background-color: #4e9c81;
  border-color: #4e9c81;
}
.btn-relatorio:hover {
  color: #fff;
  background-color: #4e9c81;
  border-color: #4e9c81;
}
.btn-relatorio:active,
.btn-relatorio.active,
.open > .dropdown-toggle.btn-relatorio {
  color: #fff;
  background-color: #4e9c81;
  border-color: #4e9c81;
}
.btn-relatorio:active:hover,
.btn-relatorio.active:hover,
.open > .dropdown-toggle.btn-relatorio:hover,
.btn-relatorio:active:focus,
.btn-relatorio.active:focus,
.open > .dropdown-toggle.btn-relatorio:focus,
.btn-relatorio:active.focus,
.btn-relatorio.active.focus,
.open > .dropdown-toggle.btn-relatorio.focus {
  color: #fff;
  background-color: #4e9c81;
  border-color: #4e9c81;
}
.btn-relatorio:active,
.btn-relatorio.active,
.open > .dropdown-toggle.btn-relatorio {
  background-image: none;
}
.btn-relatorio.disabled:hover,
.btn-relatorio[disabled]:hover,
fieldset[disabled] .btn-relatorio:hover,
.btn-relatorio.disabled:focus,
.btn-relatorio[disabled]:focus,
fieldset[disabled] .btn-relatorio:focus,
.btn-relatorio.disabled.focus,
.btn-relatorio[disabled].focus,
fieldset[disabled] .btn-relatorio.focus {
  background-color: #4e9c81;
  border-color: #4e9c81;
}
.btn-relatorio .badge {
  color: #4e9c81;
  background-color: #fff;
}

.btn-relatorioexcel {
  color: #fff;
  background-color: #68ff0b;
  border-color: #86e80d;
}
.btn-relatorioexcel:focus,
.btn-relatorioexcel.focus {
  color: #fff;
  background-color: #beff18;
  border-color: #86e80d;
}
.btn-relatorioexcel:hover {
  color: #fff;
  background-color: #beff18;
  border-color: #86e80d;
}
.btn-relatorioexcel:active,
.btn-relatorioexcel.active,
.open > .dropdown-toggle.btn-relatorioexcel {
  color: #fff;
  background-color: #beff18;
  border-color: #86e80d;
}
.btn-relatorioexcel:active:hover,
.btn-relatorioexcel.active:hover,
.open > .dropdown-toggle.btn-relatorioexcel:hover,
.btn-relatorioexcel:active:focus,
.btn-relatorioexcel.active:focus,
.open > .dropdown-toggle.btn-relatorioexcel:focus,
.btn-relatorioexcel:active.focus,
.btn-relatorioexcel.active.focus,
.open > .dropdown-toggle.btn-relatorioexcel.focus {
  color: #fff;
  background-color: #86e80d;
  border-color: #86e80d;
}
.btn-relatorioexcel:active,
.btn-relatorioexcel.active,
.open > .dropdown-toggle.btn-relatorioexcel {
  background-image: none;
}
.btn-relatorioexcel.disabled:hover,
.btn-relatorioexcel[disabled]:hover,
fieldset[disabled] .btn-relatorioexcel:hover,
.btn-relatorioexcel.disabled:focus,
.btn-relatorioexcel[disabled]:focus,
fieldset[disabled] .btn-relatorioexcel:focus,
.btn-relatorioexcel.disabled.focus,
.btn-relatorioexcel[disabled].focus,
fieldset[disabled] .btn-relatorioexcel.focus {
  background-color: #68ff0b;
  border-color: #86e80d;
}
.btn-relatorioexcel .badge {
  color: #68ff0b;
  background-color: #fff;
}

.btn-pdf {
  color: #ffffff;
  background-color: #1bbdaf;
  border-color: #026947;
}

.btn-pdf:hover,
.btn-pdf:focus,
.btn-pdf:active,
.btn-pdf.active,
.open .dropdown-toggle.btn-pdf {
  color: #ffffff;
  background-color: #026947;
  border-color: #026947;
}

.btn-pdf:active,
.btn-pdf.active,
.open .dropdown-toggle.btn-pdf {
  background-image: none;
}

.btn-pdf.disabled,
.btn-pdf[disabled],
fieldset[disabled] .btn-pdf,
.btn-pdf.disabled:hover,
.btn-pdf[disabled]:hover,
fieldset[disabled] .btn-pdf:hover,
.btn-pdf.disabled:focus,
.btn-pdf[disabled]:focus,
fieldset[disabled] .btn-pdf:focus,
.btn-pdf.disabled:active,
.btn-pdf[disabled]:active,
fieldset[disabled] .btn-pdf:active,
.btn-pdf.disabled.active,
.btn-pdf[disabled].active,
fieldset[disabled] .btn-pdf.active {
  background-color: #1bbdaf;
  border-color: #026947;
}

.btn-pdf .badge {
  color: #1bbdaf;
  background-color: #ffffff;
}
