/* padrão paginas */
* {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

i {
  padding: 5px;
}

a {
  color: #fff;
}

button i {
  margin-right: 8px;
  font-size: 14px;
}

#rodape {
  bottom: 0;
  left: 0;
  height: 40px;
  position: fixed;
  width: 100%;
}

/*pagina index*/

.logo {
  width: 60px;
}

.navbar {
  margin-bottom: 0;
}

.verde {
  color: #4e9c81;
}

.branco {
  color: #fff;
}

/* pagina sobre nós */

.texto {
  text-align: justify;
  text-indent: 40px;
  line-height: 1.6;
  margin: 0 auto;
}

/* página serviços*/

.boxmodel1 {
  height: 200px;
  background: #dfeae2;
  color: #000;
}

.boxmodel2 {
  height: 200px;
  background: #b4d6c1;
  color: #000;
}

.boxmodel3 {
  height: 200px;
  background: #8dc3a7;
  color: #000;
}

.grow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.icones-sobre {
  padding: 10px;
}

/*página contato*/

form {
  margin: 50px;
  display: flex;
  flex-direction: column;
}

.button-enviar {
  color: #fff;
  background-color: #4e9c81;
  margin-left: 12px;
  font-size: 1em;
  width: 180px;
  height: 40px;
}

.localizacao {
  margin: 40px;
  display: flex;
  flex-direction: column;
}

.email {
  margin-top: 50px;
}
